.quiz-app__header {
  margin: 0;
  margin-bottom: 3em;
  padding: 5px;
  position: relative;
  top: 0px;
  width: 100%;
  min-height: 90px;
  background-color: var(--main-color);
}

.quiz-app__title {
  font-family: "CollegiateBorderFLF";
  position: relative;
  font-size: 2.6rem;
  text-align: center;
  color: rgb(255, 255, 255);
  padding: 5px;
}

.quiz-app__footer {
  position: fixed;
  background-color: var(--main-color);
  height: 100px;
  width: 100%;
  bottom: 0px;
}

.quiz-app__footer__nav {
  display: flex;
  justify-content: center;
  justify-content: space-around;
  list-style-type: none;
  margin: 0;
  padding: 20px;
}

.quiz-app__icons {
  height: 2em;
  fill: rgb(255, 255, 255);
}

.cls-1 {
  fill: #fff;
  opacity: 0;
}

.icon-homepage {
}
