/* Darkmode Klassen: 
.moon */

.kittyCat {
  position: relative;
  height: 150px;
  margin: 0px 50px 0px 50px;
}

.nightCat {
  background: url(/Images/cool-kitty-cat.png);
  position: relative;
  height: 150px;
  margin: 0px 50px 0px 50px;
}

.Quiz-App__Profildaten {
  color: purple;
  display: flex;
  justify-content: center;
}

.Quiz-App__Level {
  line-height: 1.5em;
}

.btn-sun {
  color: transparent;
  background-color: transparent;
}

.sun {
  background: url(/Images/SVG/sun.svg) no-repeat;
  width: 40px;
  height: 40px;
  cursor: pointer;
  position: relative;
  top: -30px;
  margin: 0px 50px 0px 50px;
}

.moon {
  cursor: pointer;
  position: relative;
  background: url(/Images/SVG/moon.svg) no-repeat;
}
