.quiz-card {
  position: relative;
  width: 90%;
  max-width: 600px;
  min-height: 330px;
  padding: 20px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  background-color: rgba(255, 255, 255);
  border-radius: 15px;
  border: 3px solid var(--main-color);
}

.quiz-card:hover {
  filter: drop-shadow(1px 7px 4px #5f094c);
}

.quiz-card__bookmark {
  position: absolute;
  height: 13%;
  top: -12px;
  right: 35px;
}

.quiz-card__question {
  position: relative;
  top: 65px;
  align-content: center;
  font-size: 20px;
  font-weight: 300;
}
.quiz-card--answer-button {
  position: absolute;
  align-self: center;
  padding: 15px;
}

.quiz-card__answer {
  bottom: 90px;
  position: absolute;
  align-self: ;
}

.quiz-card__tags {
  position: absolute;
  left: 30px;
  bottom: 25px;
  gap: 10px;
}

span {
  background-color: rgb(126, 46, 81);
  font-weight: 600;
  color: rgb(255, 255, 255);
  padding: 10px;
  border-radius: 5px;
  gap: 10px;
  margin-right: 20px;
}
