.quiz-card {
  position: relative;
  display: flex;
  width: 90%;
  max-width: 600px;
  min-height: 330px;
  margin: 0 auto;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255);
  border-radius: 15px;
  border: 3px solid var(--main-color);
}

.quiz-card:hover {
  filter: drop-shadow(1px 7px 4px #5f094c);
}

.quiz-card__bookmark {
  position: absolute;
  height: 50px;
  top: -12px;
  right: 35px;
}

.quiz-card__question {
  position: relative;
  top: 50px;
  font-size: 20px;
  font-weight: 300;
}

.quiz-card--answer-button {
  position: relative;
  top: 50px;
  align-self: center;
  margin: 25px;
  padding: 15px;
}

quiz-card__answer--hidden {
  visibility: hidden;
}
.div-card__answer_box {
  margin: 30px;
}
.quiz-card__answer {
  position: relative;
  font-size: 20px;
  font-weight: 300;
  line-height: 1.4em;
}

.quiz-card__tags {
  position: relative;
  padding: 20px;
  left: 10px;
  bottom: 10px;
}

span {
  background-color: rgb(126, 46, 81);
  font-size: x-small;
  font-weight: 600;
  color: rgb(255, 255, 255);
  padding: 10px;
  border-radius: 5px;
  margin-right: 20px;
}
